.cluster-line {
  position: relative;
  height: 8px;
  padding: 4px 0;
}

.dot {
  overflow: hidden;
  display: inline-block;
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  transform: translateX(-50%);

  &.highlighted {
    box-shadow: 0 0 2px 4px rgba(0, 255, 0, 0.75);
  }
}
